@charset "UTF-8"; 

@font-face {
    font-family: 'normal';
    src: url('../fontes/StintUltraCondensed-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'pacifico regular';
    src: url('../fontes/Pacifico-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'angelia beauty';
    src: url('../fontes/Angelia\ Beauty.ttf') format(truetype);
}

:root {
    --fonte1: 'angelia beauty';
    --fonte2: 'normal';
    --fonte3: 'pacifico regular';
    --cor1: #D789D9;
    --cor2: #A260BF;
    --cor3: #6C3873;
    --cor4: #7A4572;
    --cor5: #995395;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    
}

header {
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
}

header > h1 {
    font-family: var(--fonte1);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.856);
    font-size: 3em;
    margin-bottom: 18px;
}

nav {
    margin-bottom: 5px;
    width: 100vw;
}

nav > a {
    font-family: var(--fonte2);
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: 0.5s;
}

nav > a#bl_msg {
    display: block;
    margin: auto;
    width: 168px;
    margin-top: 10px;
}

nav > a:hover {
    background-color: var(--cor4);
}

#imagem1 {
    background-image:  url('../imagens/img10red.jpeg');
    width: 100vw;
}

#imagem2 {
    background-image: url('../imagens/img05red.jpeg');
    width: 100vw;
}

.imagem {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
}

.imagem > p#dizeres {
    display: inline-block;
    color: white;
    margin: auto;
    width: 50vw;
    margin-top:15vh;
    margin-bottom: 15vh;
    background-color: rgba(0, 0, 0, 0.199);
}

.texto {
    padding: 30px;
    text-align: center;
}

.texto > h2, section > h2 {
    font-family: var(--fonte3);
    font-size: 1.5em;
    color: var(--cor5);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 4px;
}

.texto > article > div > p {
    font-family: var(--fonte2);
    font-size: 0.8em;
    margin-top: 15px;
    display: block;
    text-align: justify;
}

#texto01, #texto02 {
    display: inline-block;
    width: 40vw;
}

#img01-texto, #img02-texto {
    display: inline-block;
}

#local, #msg {
    padding: 30px;
    text-align: center;
}

#imglc {
    margin: auto;
    display: block;
    width: 70vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#link-paraiso {
    display: inline-block;
    margin: auto;
    width: 10vw;
    font-size: 1.8em;
    font-family: var(--fonte2);
    text-decoration: none;
    border-radius: 5px;
}

#link-paraiso:hover {
    background-color: var(--cor1);
}

#ender, #hora {
    margin: auto;
    margin-top: 10px;
    border: double 10px var(--cor2);
    border-radius: 4px;
    padding: 10px;
    width: 60vw;
    margin-bottom: 15px;
}

#ender > p {
    font-size: 0.9em;
    text-align: center ;
    font-family: var(--fonte3);
}

#hora > p {
    font-size: 1em;
    text-align: center ;
    font-family: var(--fonte3);
}

#logo-maps, #logo-waze {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#logo-maps{
    width: 135px;
}

#logo-waze{
    width: 155px;
}







